<div class="section">
  <figure class="image is-2by1">
    <img src="/images/logonobg.png" class="promo-img"/>
  </figure>

  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is 1">About Trump Meter</h1>
        <p class="content is-large">
          Trump meter is a non-partisan, non-denominational, non-scientific, gluten free, live
          poll of the president's job performance.
        </p>

        <p class="content is-large">
          Do you ever wonder who actually answers approval polls?  So do we.
        </p>

        <p class="content is-large">
          Trump Meter was created to get an immediate idea of what the public thinks of the president's
          work.  You can log in with your email address, and vote.  You can change your vote
          any time you like, and even choose not to vote from time to time.

          Of course, you could make dozens of accounts and vote them all a certain way, but we hope
          you don't.  We will add new features and charts as more data becomes
          available.  If you have suggestions let us know!  As we add features, we
          will do our best to not influence your decision in any way.
        </p>
        <p class="content is-large">
          Feel free to tell your friends about Trump Meter. The more people that use it, the more fun and
          accurate it will be!
        </p>
        <br>
        <p class="notification is-primary title is-strong">
          Have suggestions or just want to tell us how much you love Trump Meter?
        </p>
        <br>
        <div class="column">
        <p class="title is-1">
          Send us an email: <%= mail_to "trumpmeterapp@gmail.com" %>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
