<br>
<div class="container">
  <div class="block">
    <h1 class="title is 1">About Trump Meter</h1>
  </div>
<p class="content is-medium">
  Trump meter is a non-partisan, non-denominational, non-scientific, gluten free, live
  poll of the president's job performance.
</p>
<p class="content is-medium">
  Trump Meter was designed to allow you to tell the world how you feel the president is doing in
  real time by being able to change your vote based on current events. We will do our best to
  not influence your decision in any way.
</p>
<p class="content is-medium">
  Feel free to tell your friends about Trump Meter. The more people that use it, the more fun and
  accurate it will be!
</p>
<br>
<p class="content is-large">
  Have suggestions or just want to tell us how much you love Trump Meter?
</p>
<br>
<p class="content is-medium">
  Send us an email at: trumpmeterapp@gmail.com
</p>
</div>
