<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>The TrumpMeter Approval Poll</h1>
      <h3 class="text-muted">A non-partisan, non-denominational, non-scientific, gluten free, real time poll of how the president is doing.</h3>
    </p>
      <h4>Sign Up and Vote</h4>
      <p>Your opinion matters...a little.</p>
      <p><%= link_to "Sign Up and Vote", new_user_registration_path, class: "btn btn-lg btn-primary" %>

      <p>Already have an account? <%= link_to ("<i class='fa fa-sign-in'></i> Sign In").html_safe, new_user_session_path, class: "btn btn-outline-primary" %> </p>
      </p>
    </div>
  </div>
</div>


<div class="container">
    <div class="container marketing">
      <div class="row justify-content-md-center">
        <div class="col-lg-6 text-center">
          <img class="rounded" src="/images/logonobg.png" alt="TM Logo" width="360" height="275">
          <h2>A live approval poll</h2>
          <p>Change your vote or even withhold your vote, any time you want.</p>
          <p><a class="btn btn-outline-success" href="/welcome/about" role="button">Learn More &raquo;</a></p>
        </div>

        <div class="col-lg-6 text-center">
          <p>Live Results<%= area_chart(vote_count) %></p>
          <p><%= link_to "Sign in to see more!", new_user_registration_path, class: "btn btn-outline-success"%></p>
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
  </div>



<!-- <div class="container">
  <div class="columns">
      <div class="column has-text-centered">
        <p>
            <script type="text/javascript">
       	      amzn_assoc_ad_type = "banner";
            	amzn_assoc_marketplace = "amazon";
            	amzn_assoc_region = "US";
            	amzn_assoc_placement = "assoc_banner_placement_default";
            	amzn_assoc_campaigns = "gift_certificates";
            	amzn_assoc_banner_type = "category";
            	amzn_assoc_isresponsive = "true";
            	amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
            	amzn_assoc_tracking_id = "bllite-20";
            	amzn_assoc_linkid = "6d6c4d6f10fedcec8d32c49c17211c8e";
              </script>
              <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
        </p>
      </div>
    </div>
  </div> -->
