
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">

      <h3 class="subtitle is-4">A non-partisan, non-denominational, non-scientific, gluten free real time poll of how the president is doing.</h3>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-5">
            <figure class="image is-4by4">
              <img src="/images/logonobg.png" class="promo-img"/>
            </figure>
          </div>
          <div class="column is-6">
                <h1 class="title is-2">
                  Sign Up and Vote
                </h1>
                <h2 class="subtitle is-3">
                  Your opinion matters
                </h2>
                  <%= link_to "Sign Up", new_user_registration_path, class: "button is-info is-large"%>
                </br>
                  <div class="column">

                    <p class="subtitle">National Live Results
                    <%= area_chart(vote_count) %>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="container">
  <div class="columns">
      <div class="column has-text-centered">
        <p>
          <div class="alignleft">
            <script type="text/javascript">
       	      amzn_assoc_ad_type = "banner";
            	amzn_assoc_marketplace = "amazon";
            	amzn_assoc_region = "US";
            	amzn_assoc_placement = "assoc_banner_placement_default";
            	amzn_assoc_campaigns = "gift_certificates";
            	amzn_assoc_banner_type = "category";
            	amzn_assoc_isresponsive = "true";
            	amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
            	amzn_assoc_tracking_id = "bllite-20";
            	amzn_assoc_linkid = "6d6c4d6f10fedcec8d32c49c17211c8e";
              </script>
              <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </p>
      </div>
    </div>
  </div>
</section>
