
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">

      <h3 class="subtitle is-4">A non-partisan, non-denominational, non-scientific, gluten free real time poll of how the president is doing.</h3>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-5">
            <figure class="image is-4by4">
              <img src="/images/logonobg.png" class="promo-img"/>
            </figure>
          </div>
          <div class="column is-6">
                <h1 class="title is-2">
                  Sign Up and Vote
                </h1>
                <h2 class="subtitle is-3">
                  Your opinion matters
                </h2>
                <br>
                  <%= link_to "Sign Up", new_user_registration_path, class: "button is-info is-large"%>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
