<div class="container">
  <h2>The most fashionable approval poll apparel on the internets.</h2>
  <div class="card-group">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/images/approveshirt.png" alt="Approve Shirt" width="304" height="295">
    <div class="card-block">
      <h4 class="card-title">Approval Shirt</h4>
      <p class="card-text">Tell your friends that you approve of Trump...for now. Available in several colors.</p>
      <%= link_to "Buy Now", ("https://teespring.com/trumpmeterapprove"), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/images/disapproveshirt.png" alt="Disapprove Shirt" width="304" height="295">
    <div class="card-block">
      <h4 class="card-title">Disapproval Shirt</h4>
      <p class="card-text">Tell your friends that you don't approve of Trump...for now. Or perhaps tell them you like shirts with thumbs on the front.</p>
      <%= link_to "Buy Now", ("https://teespring.com/trumpmeterdisapprove"), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/images/TM_shirt.png" alt="Trump Meter Shirt" width="304" height="295">
    <div class="card-block">
      <h4 class="card-title">The Trump Meter Shirt</h4>
      <p class="card-text">Cover your top half with this fine shirt.</p>
      <%= link_to "Buy Now", ("https://teespring.com/trumpmeter"), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/images/mug.png" alt="Trump Meter Mug" width="304" height="220">
    <div class="card-block">
      <h4 class="card-title">The Trump Meter Mug</h4>
      <p class="card-text">Dress your coffee like this.  Everyone in the office will wonder what the heck Trump Meter is.</p>
      <%= link_to "Buy Now", ("https://teespring.com/trumpmetermug"), class: "btn btn-primary" %>
    </div>
  </div>
</div>

</div>


    <!-- <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=69c55c1b-445e-49e4-897d-9d4ce39c8a35"></script> -->
