<section class="section hero is-dark">
  <div class="container">
    <div class="columns">
    <div class="column">
      <p class="title">The most fashionable approval poll apparel on the internets.</p>
    </div>
  </div>

    <div class="columns">
      <div class="column is-three-quarters has-text-centered">
        <a href="https://teespring.com/stores/trumpmeter"><p class="notification is-primary title">Visit our Teespring store!</p></a>
      </div>
    </div>


    <div class="columns">
      <div class="column">
        <a href="https://teespring.com/trumpmeterapprove"><img src="/images/approveshirt.png"></a>
      </div>
      <div class ="column">
        <%= link_to "Buy Now", ("https://teespring.com/trumpmeterapprove"), class: "button is-primary" %>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a href="https://teespring.com/trumpmeterdisapprove"><img src="/images/disapproveshirt.png"></a>
      </div>
      <div class ="column">
        <%= link_to "Buy Now", ("https://teespring.com/trumpmeterdisapprove"), class: "button is-primary" %>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a href="https://teespring.com/trumpmeter"><img src="/images/TM_shirt.png"></a>
      </div>
      <div class ="column">
        <%= link_to "Buy Now", ("https://teespring.com/trumpmeter"), class: "button is-primary" %>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <figure class="image is-3by2">
          <a href="https://teespring.com/trumpmetermug"><img src="/images/mug.png"></a>
        </figure>
      </div>
      <div class ="column">
        <%= link_to "Buy Now", ("https://teespring.com/trumpmetermug"), class: "button is-primary" %>
      </div>
    </div>

    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=69c55c1b-445e-49e4-897d-9d4ce39c8a35"></script>


</section>
